language: objective-c
osx_image: xcode7.3
xcode_project: WMPageController-Swift.xcodeproj
xcode_scheme: WMPageControllerSwiftFramework
xcode_sdk: iphonesimulator9.3
env:
  global: 
    - FRAMEWORK_NAME=WMPageControllerSwiftFramework
before_install:
  - brew update
  - brew outdated carthage || brew upgrade carthage
before_script:
  # bootstrap the dependencies for the project
  # you can remove if you don't have dependencies
  - carthage bootstrap  
before_deploy:
  - carthage build --no-skip-current
  - carthage archive WMPageControllerSwift
